<aside class="application-sidebar-sub solid vertical flow">

    <div class="application-header filled primary"></div>

    <div class="vertical flow">
      {{outlet 'sidebar-sub-content'}}
    </div>

</aside>