<div class="stepper stepper-start">

    <h2 class="stepper__title">Que voulez-vous faire?</h2>

    <div class="stepper__options">

        <div class="stepper__option" {{action 'resumeProject'}} >
            <div class="inner">
                <i class="fa fa-folder-open-o"></i>
                <h3>Reprendre le projet en cours</h3>
                <small>05/02/2016</small>
            </div>
        </div>

        <div class="stepper__option" {{action 'newProject'}} >
            <div class="inner">
                <i class="fa fa-file"></i>
                <h3>Démarrer un nouveau projet</h3>
                <small>(va écraser le projet en cours)</small>
            </div>
        </div>
    </div>


</div>

