& {
  @include flow(center);
  position: absolute;
  top: 2rem;
  width: 100%;

  .message {
    @extend .with-relief;
    padding: $gutter/4 $gutter*2 $gutter/4 $gutter*2;
    background-color: lighten(grey, 16%);
    text-align: center;
    font-style: italic;
    border-radius: 1.3rem;
  }

}
