{{#if (x-eq selectedState 'text')}}
<div class="solid message">
  {{x-capitalize (t 'export.drawings.helper.text')}}
</div>
{{else if (x-eq selectedState 'line')}}
<div class="solid message">
  {{x-capitalize (t 'export.drawings.helper.arrow')}}
</div>
{{/if}}