& {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.97;
  color: white;
}

.content {
  @extend %padded;
  background: color(primary);
  border-radius: 0.3rem;

  textarea {
    font-size: 0.9em;
    border-left: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 18rem;
    height: 4.2rem;
    color: color(text);
    border: 1px solid color(primary);
  }

}

&.placement-top .arrow {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0; 
  height: 0; 
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  
  border-top: 2rem solid color(primary);
}

&.placement-bottom .arrow {
  position: absolute;
  top: -10px;
  width: 0; 
  height: 0; 
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  
  border-bottom: 2rem solid color(primary);
}
