<div class="popup-text-editor">
  <div class="content">
    {{yield}}
    {{textarea value=text row="2" enter=(action 'textCommit')}}
    <div class="center airy horizontal flow">
    {{#x-button class="large" action=(action 'unapply')}}
      <i class="iconfont iconfont-undo"></i>
    {{/x-button}}
    {{#x-button class="large" action=(action 'textCommit')}}
      <i class="iconfont iconfont-check"></i>
    {{/x-button}}
    </div>
  </div>
  <span class="arrow"></span>
</div>