& {
  
  .tabs {
    
    @include flow();
    
    padding: 0;
    
    li {
      
      @extend %fluid;
      
      list-style-type: none;
      
      text-align: center;
      font-weight: bold;
      cursor: pointer;


      &:not(.active) {
        color: greys(50%);
      }
      
      &.active {
        border-bottom: 3px solid color(text);
        cursor: default;
      }
      
    }
    
  }
  
  .tab-pane {
    display: none;
    &.active { display: block; }
  }
  
}
