<div class="full outer horizontal middle center flow">
    <div class="dialog import-dialog">
        <header class="filled primary">
            <div class="title">Importer des données</div>
            <div class="actions"></div>
        </header>
        {{outlet 'main'}}
        <footer class="filled default">
          {{outlet 'footer'}}
        </footer>
    </div>
</div>