.add-variable-button {
  font-weight: bold;
  margin-bottom: 0.5em;
  &:hover {
    color: color(text, tint);
  }
  .icon {
    margin-right: 0.5rem;
    &.icon-var {
      color: color(primary2);
    }
  }
}