@import 'utils/fonts';
@import 'utils/variables';
@import 'utils/mixins';
@import "normalize";
@import "flow";
@import "theme";
@import "pod-styles";
@import "parts/import-csv";
@import "parts/layers-panel";
@import "parts/projection-panel";
@import "parts/configuration-panel";
@import "parts/help";
@import "parts/graph";
@import "parts/browser-check";


html, body {
  height: 100%;
  margin: 0;
}


body {
  font-family: 'Roboto', sans-serif;
}


a {
  cursor: pointer;
}


.iconfont:before {
  vertical-align: middle;
}


/* flow */
body > .ember-view:not(.popable) {
  height: 100%;
  overflow:hidden;
  @include flow(vertical);
}


.application-header {
  @include depth(header);
  @include flow(solid, space-between);
  align-items: stretch;
  flex-basis: $header-height;
  padding: 0 0 0 1em;
}

.application-sidebar {
  background-color: color(volet1);
}

.sidebar-scroll-wrapper {
  overflow: auto;
  padding: 0 $gutter;

  &.padded {
    padding: 4rem $gutter $gutter;  /* 4rem = Eyeballed alignment with sidebar content */
  }
}

.sidebar-sub-close {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  cursor:pointer;
  z-index: 2;
}

.application-sidebar-sub {
  background-color: color(volet2);
  overflow: hidden;
}

.application-sidebar-sub .body {
  margin-top: 1rem;
}

.application-workspace {
  overflow-y: auto;
}


.paste-csv-area:focus {
  height: 200px;
}


aside {
  flex: 0 0 34rem !important;
  &.empty {
    flex: 0;
  }
}

.application-nav {

  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid greys(30%);
  font-size: 1.3rem;

  flex: 0 0 2.8rem;

  li {
    cursor: pointer;
    flex: 1;
    padding: 0.2rem 0;
  }

  li.active,
  li:hover:not(.disabled) {
    border-bottom: 3px solid color(titles);
  }

}


footer {
  flex-basis: $footer-height;
  line-height: $footer-height;
}


.brand {
  align-items: center;
  display: flex;
  font-size: 4.1rem; /*5.4rem;*/
  /* 41pt */
  font-family: 'CabinSketch', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  a {
    text-decoration: none;
  }
}


.menu-left {
  width: 5rem;
  transition: width 150ms ease-out;

  .tool {
    @include flow(solid);
    height: 5rem;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover, &.selected {
      color: $color-primary;
    }

    &:not(:last-child) {
      margin-bottom: 0.4em;
    }

    &.selected {
      @extend .filled.default;
      @include shadow(2);
      //box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.24);
      z-index: 1;
    }

  }
}


.header-menu {
  display: flex;
  align-items: stretch;

  a {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  li {
    padding: 1rem 1.2rem;
    text-align: right;
  }

  a, li {
    cursor: pointer;
    font-size: 2rem;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .dropdown {
    min-width: 8rem;
  }

  > a:hover,
  > a.active {
    color: hsl(0, 0%, 40%);
    background-color: greys(5%);
  }
}


.header-options {
  position: relative;
}


.arrows-cursor {
  cursor: move;
}


.navheader {
  @include flow(horizontal, solid, space-between);
  padding: 0.5rem 1rem;
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: color(default);
}


.intro-title {
  margin: 0 0 7.5rem;
  font-size: 3.5rem;
  color: greys(70%);
  font-weight: normal;

  span {
    font-weight: bold;
    font-size: 3.7rem;
    text-transform: uppercase;
  }
}


.intro-actions {
  display: flex;
  justify-content: center;
  width: 80%;

  .button {
    position: relative;
    margin: 0 2rem;
    padding: 2rem 3rem;
  }

  .button-label {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  small {
    font-size: 1.6rem;
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    text-align: right;
    text-transform: none;
    color: greys(70%);
  }

  small span {
    font-weight: bold;
  }
}


.step-import {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .importer,
  .report {
    flex: 1;
    padding: 3rem 0;
    min-width: 52rem;
    margin: 0 auto;
    width: 70%;
    max-width: 72rem;
  }

  .importer .label {
    font-size: 1.1em;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .csv-description {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 5rem;
    text-align: center;
  }

  .import-button {
    display: inline-block;
    cursor: pointer;
  }

  .import-samples {
    margin-top: 4rem;

    h2 {
      margin: 0 0 0.3rem;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      font-size: 1.3rem;
      cursor: pointer;
      background-color: color(variable);
      color: color(text);
      padding: 0.4rem 1rem;
      border-radius: 0.2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

    }

  }

}


.report {

  flex-shrink: 0;

  ul {
    padding-left: 0;
    list-style: none;
  }

  li.warnings, li.errors {
    margin-top: 1em;
  }

  .error-explenation {
    margin-left: 0.3em;
    padding-left: 0.5em;
    font-size: 1.3rem;
    color: greys(90%);
  }

  .report-message {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
  }

  .report-message.success {
    background-color: color(success, 'tint');
    color: color(success);
    border-left: 2px solid color(success);
  }

  .report-message.warning {
    background-color: color(warning, 'tint');
    color: color(warning);
    border-left: 2px solid color(warning);
  }

  .report-message.danger {
    background-color: color(warning, 'tint');
    color: color(danger);
    border-left: 2px solid color(danger);
  }

  ul.column-list {
    margin: 0;

    li {
      @include flow();
      border-bottom: 1px solid greys(20%);
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;

      &, .label {
        cursor: pointer;
      }

      &:hover {
        background-color: rgba($color-primary, 0.3);
      }
      &:last-child {
        border-bottom: none;
      }

      .label {
        @extend %fluid;
      }

      .column-actions {
        @extend %solid;
        width: 5rem;
      }

      &.selected {
        background-color: greys(5%);
        cursor: default;
        .caret {
          @extend .invisible;
        }
      }

    }

  }

  .column-configuration {
    @include flow();
    min-height: 25rem;
    background-color: greys(5%);
  }

  .map-card {
    border: 1px solid greys(20%);
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    cursor: pointer;

    &:hover {
      background-color: greys(10%);
    }

    .iconfont {
      font-size: 6em;
    }

    .label {
      text-align: center;
    }

  }

}


.geo-ref-column, .layers-column {

  .dropdown {
    min-width:300px;
  }

  .accordion-wrapper > div {
    padding: 2rem;
  }

  .collection {

    margin-right: -20px;

    overflow: auto;
    border: none;

    & > li.selected {
      margin-right: 0;
      padding-right:  2.5rem;
      background-color: color(volet2);
    }

    & > li {
      margin-right:20px;
      background-color: color(variable);
    }

  }

}

.geo-ref-column {
  .collection {
    & > li:first-child {
      background-color: color(titles);
      color: #FFF;
      margin-bottom: 3rem;

      .dropdown-trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .dropdown-label {
        flex:1;
      }

      .dropdown-icon {
        width : 16%;
      }
    }
     & > li {
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    & > li.selected {
      color:color(titles);
    }
  }
}

.layers-column {

  .collection {

    & > li {
      margin-bottom: 0.5rem;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    }

    & > li.selected a {
      color:color(text);
    }

    & > li {

      .layer-visualization-icon {
        display: block;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.selected .layer-visualization-icon {
        display: none;
      }

    }
    

  }
  
}


.report-preview {
  overflow-y: scroll;
  font-size: 0.8em;
  max-height: 450px;

  & table {
    position: relative;
  }

  & tr:nth-child(even){
    background-color: greys(5%);
  }

  /*&::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(#FFF, 0), rgba(#FFF, 0), rgba(#FFF, 0), rgba(#FFF, 1));
  }*/

}


.step-import .report-title {
  background-color: greys(5%);
  padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px solid greys(10%);
  }
}


.stars {
  li { float: left; }
}


/*color picker customization*/
.sp-container {
  padding: 2px;
}


.sp-picker-container {
  border: none;
}


.sp-container button, .sp-container button:hover {
  @extend .button;
  background-color: color(primary);
  background-image: none;
  border: none;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  box-shadow: none;
  transition: none;
  text-shadow: none;
}

/* Codemirror */

.CodeMirror {
  border: 1px solid #ddd;
}

.CodeMirror-placeholder.CodeMirror-placeholder {
  color: greys(60%);
}


/**
  Fix occasional width bug on Chrome
*/
.state-icon,
.graph.vertical.flow > .horizontal.flow {
  width: 100%;
}


.column-editor {
  position: relative;
}

.column-editor-row  {

  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;

  .bind-value-arrow.bind-value-arrow,
  .cell-value.cell-value,
  .cell-new-value.cell-new-value {
    margin-left: 0;
    margin-right: 0;
  }

  .bind-value-arrow.bind-value-arrow {
    margin-right:0.7rem;
  }

  .cell-value, .cell-new-value input, .selected-value {
    font-size:1.2rem;
  }

  .cell-new-value input {
    min-width: initial;
  }

  .selected-value {
    line-height: 23px;
  }

  .selected-value .icon {
    line-height: 19px;
  }
}

