@import 'utils/variables';
@import "normalize";
@import "flow";
@import "theme";
@import "pod-styles";


html, body {
  height: 100%;
  margin: 0;
}


/* flow */
body > .ember-view {
  height: 100%;
  @extend .vertical.flow;
}


.application-header {
  @include depth(header);
  @extend %flow;
  @extend %solid;
  @extend %space-between;
  //@extend .with-relief.topbar; // Note: Deactivated to see clearer
  align-items: stretch;
  flex-basis: $header-height;
  padding: 0 2em;
}


.cm-s-default {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-left: 2px solid #9e9e9e;
  height: 200px;
}


.import-dialog {
  width: 50%;
  flex-basis: auto;
}


.paste-csv-area:focus {
  height: 200px;
}


aside {
  @extend .filled.default;
  width: 320px;
  &.empty {
    width: 0;
  }
  //
}


footer {
  flex-basis: $footer-height;
}


.brand {
  align-items: center;
  display: flex;
  font-size: 2rem;
}


.menu-left {
  width: 5rem;

  .tool {
    @extend %flow;
    @extend %solid;
    height: 5rem;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover, &.selected {
      color: $color-primary;
    }

    &:not(:last-child) {
      margin-bottom: 0.4em;
    }

    &.selected {
      @extend .filled.default;
      @include shadow(2);
      //box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.24);
      z-index: 1;
    }

  }
}


.header-menu {

  display: flex;
  align-items: stretch;
  font-size: 2.3rem;

  > a {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
  }

  > a:hover,
  > a.active {
    color: hsl(0, 0%, 40%);
    background-color: #fff;
  }
}


.header-options {
  position: relative;
}


.dropdown {
  @extend .vertical.flow;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  min-width: 130px;
  @include shadow(3);
  background-color: #fff;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;

  a {
    text-decoration: none;
    font-weight: bold;
    text-wrap: none;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    color: hsl(0, 0%, 40%) !important; // TODO: clean up
    text-align: right;
    flex: 1;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(#000, 0.12);
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

}

.help {

  $width:400px;

  width: 0;
  overflow:hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  transition:width 150ms ease-out;

  .inner {
    background-color: #FFF;
    padding:2em;
    width: $width;
  }

  h2{  margin: 0; }

  &.visible {
    width: $width;
  }
}

