$font-size-base: 1.35rem !default;
$line-height: 1.35rem !default;
$gutter: 1.5rem !default;
$viewport-min-width: 102.4rem !default;

@mixin box-flex($n) {
    flex: $n 1 auto;
}

@mixin cell-size() {
    @for $i from 1 through 12 {
        &.w#{$i}, &%w#{$i} {
            width: (100% / 12) * $i;
        }
        &.h#{$i}, &%h#{$i} {
            height: (100% / 12) * $i;
        }
    }
}

*, :after, :before {
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    line-height: $line-height;
    font-size: $font-size-base;
}

%viewport {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0;
    min-width: $viewport-min-width;
}

.fluid, %fluid {
   @include box-flex(1);
   @include cell-size();

   &.stretched, &%stretched {
        align-self: stretch;
   }

   &.scrollable, &%scrollable {
        flex-basis: 0;
   }

   &.outer, &%outer {
        position: absolute;
        left: 0px;
        top: 0px;

        &.full, &%full {
            right: 0;
            bottom: 0;
        }
    }

}

.solid, %solid {
   @extend %fluid;
   flex-grow: 0;
   flex-shrink: 0;
}

.flow, %flow {
    @extend %fluid;
    display: flex;
    position: relative;
    z-index: 0;

    &.space-between, &%space-between {
        justify-content: space-between;
    }

    &.space-around, &%space-around {
        justify-content: space-around;
    }

    &.vertical, &%vertical {
        display:         flex;
        flex-direction: column;

        &.btp, %btp {
            flex-direction: column-reverse;
        }

        &.airy > *, &%airy > * {
            margin-top: $gutter/2;
            margin-bottom: $gutter/2;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }

        &.center, &%center {
            align-items: center;
        }

        &.middle, &%middle {
            justify-content: center;
        }

        &.left, &%left {
            align-items: flex-start;
        }

        &.right, &%right {
            align-items: flex-end;
        }

        &.breakable-reverse, &%breakable-reverse {

            &.left, &%left {
                align-items: flex-end;
            }

            &.right, &%right {
                align-items: flex-start;
            }

        }

        &.top, &%top {
            justify-content: flex-start;
        }

        &.bottom, &%bottom {
            justify-content: flex-end;
        }

    }

    &.horizontal, &%horizontal {
        display: flex;
        flex-direction: row;

        &.rtl, &%rtl {
            flex-direction: row-reverse;
        }

        &.airy > *, &%airy > * {
            margin-left: $gutter/2;
            margin-right: $gutter/2;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }

        &.center, &%center {
            justify-content: center;
        }

        &.middle, &%middle {
            align-items: center;
        }

        &.top, &%top {
            flex-direction: row;
        }

        &.bottom, &%bottom {
            flex-direction: row-reverse;
        }

        &.left, &%left {
            justify-content: flex-start;
        }

        &.right, &%right {
            justify-content: flex-end;
        }

        &.baseline, &%baseline {
            align-items: baseline;
        }
    }

    &.breakable, &%breakable {
        flex-wrap: wrap;
    }

    &.breakable-reverse, &%breakable-reverse {
        flex-wrap: wrap-reverse;
    }
}

/* shortcuts */

.padded-l, %padded-l {
    padding-left: $gutter / 2;
}

.padded-r, %padded-r {
    padding-right: $gutter / 2;
}

.padded-t, %padded-t {
    padding-top: $gutter / 2;
}

.padded-b, %padded-b {
    padding-bottom: $gutter / 2;
}

.padded, %padded {
    @extend %padded-l;
    @extend %padded-r;
    @extend %padded-t;
    @extend %padded-b;
}

.padded-h, %padded-h {
    @extend %padded-l;
    @extend %padded-r;
}

.padded-v, %padded-v {
    @extend %padded-t;
    @extend %padded-b;
}

/* Misc */

.hidden {
    display: none !important;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.invisible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}
