.with-relief {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.with-relief.topbar {
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.bottombar {
  box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.leftbar {
  box-shadow: 8px 0px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.rightbar {
  box-shadow: -8px 0px 8px -4px rgba(0, 0, 0, 0.24);
}

html, body {
  color: color(text);
  line-height: 1.5em;
}

small {
  font-size: 0.9em;
}

/* colors */
.filled, %filled {

  & {
    background-color: greys(white);
  }

  &.default {
    background-color: #f0f0f0; // TODO: $color-default
  }

  &.primary {
    background-color: color(primary);
    &, a {
      color: greys(white);
    }
  }

  &.success {
    background-color: color(success);
    &, a {
      color: greys(white);
    }
  }

  &.warning {
    background-color: color(warning);
    &, a {
      color: greys(white);
    }
  }

  &.danger {
    background-color: color(danger);
    &, a {
      color: greys(white);
    }
  }

  &.contrast {
    background-color: color(text);
    &, a {
      color: greys(white);
    }
  }

}

.round {
  border-radius: 50%;
}

.jumbotron, %jumbotron {
  @extend %padded;
  @extend %filled;
  border: 1px solid greys(10%);
}

.bordered {

  border-width: 1px;
  border-style: solid;

  & {
    border-color: color(text);
  }

}

.text-default {
  color: #eee; // TODO: $color-default
}

.text-primary {
  color: color(primary);
}

.text-success {
  color: color(success);
}

.text-warning {
  color: color(warning);
}

.text-danger {
  color: color(danger);
}

.title {
  color: color(titles);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* cursor */
.clickable {
  cursor: pointer;
}

@import "components/panel";
@import "components/dialog";
@import "components/form";
@import "components/button";
@import "components/table";
@import "components/tooltip";
@import "components/dropdown";
@import "components/accordion";
@import "components/collection";
@import "components/modal";
