$font-color: #404040 !default;
$color-primary: #4285f4 !default;
$color-success: #0f9d58 !default;
$color-warning: #FF9800 !default;
$color-default: #f0f0f0 !default;

.with-relief {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.with-relief.topbar {
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.bottombar {
  box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.leftbar {
  box-shadow: 8px 0px 8px -4px rgba(0, 0, 0, 0.24);
}

.with-relief.rightbar {
  box-shadow: -8px 0px 8px -4px rgba(0, 0, 0, 0.24);
}

html {
  color: $font-color;
  line-height: 1.5em;
}

small {
  font-size: 0.9em;
}

/* colors */
.filled {

  & {
    background-color: white;
  }

  &.default {
    background-color: $color-default;
  }

  &.primary {
    background-color: $color-primary;
    &, a {
      color: #fff;
    }
  }

  &.success {
    background-color: $color-success;
    &, a {
      color: #fff;
    }
  }

  &.warning {
    background-color: $color-warning;
    &, a {
      color: #fff;
    }
  }

  &.danger {
    background-color: #F44336;
    &, a {
      color: #fff;
    }
  }

  &.contrast {
    background-color: $font-color;
    &, a {
      color: #fff;
    }
  }

}

.round {
  border-radius: 50%;
}

.bordered {

  border-width: 1px;
  border-style: solid;

  & {
    border-color: $font-color;
  }

}

.text-default {
  color: $color-default;
}

.text-primary {
  color: #4285f4;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: #F44336;
}

@import "components/panel";
@import "components/dialog";
@import "components/form";
@import "components/button";
@import "components/table";
@import "components/tooltip";
