& {
  label {
    line-height: 1em;
  }
  ul.intervals {
    padding-left: 0;
    list-style-type: none;
  }
  li.interval {
    @include flow(horizontal, solid);
    @extend %half-airy;
    margin-bottom: 0.3em;
  }
  li.interval .value {
    @extend %solid;
    @extend %w10;
    display: block;
    border: 1px solid color(text);
    padding-left: $gutter/2;
  }
  li.interval.min-max .value {
    border-color: color(primary);
  }
}
