& {
  
  padding: 2px 2px 2px 2px;

  .icon-type {

    display: inline-block;
    text-align: center;
    position: relative; // tooltip

    width: 2rem;
    height: 2rem;

    border-radius: .2em;
    margin: 2px;

    font-size: 1.8rem;
    
    &.geo::before {
      content: " ";
      background-color: white;
      left: 0.1em;
      top: 0;
      width: 0.8em;
      height: 0.8em;
      position: absolute;
      z-index: -1;
      border-radius: 50%;
    }
  }
}
