<div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <h4 class="modal-title">{{{title}}}</h4>
	  </div>
	  <div class="modal-body">
	    {{{message}}}
	  </div>
	  <div class="modal-footer">
      <button class="button small danger filled" {{action 'accept'}}>{{acceptLabel}}</button>
	  </div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->