input {
  width: 36px;
  border: none;
  background: none;
  border-bottom: 1px dashed greys(30%);
  text-align: right;
  font-size: 12px;
  padding-right: 1px;
  margin-left: -$gutter / 2 ;
}

.unite {
  display: inline-block;
  padding-top: $gutter / 4;
}
