<div class="horizontal middle flow">
  {{x-slider class="fluid" transform=transform min=min value=value max=max band=band displayTick=false}}
  <div class="horizontal solid flow">
    {{input value=inputValue focus-out=(action 'inputFocusOut') key-up=(action 'inputKeyUp')}}
    <span class="unite">{{#if tickAppend}}{{tickAppend}}{{/if}}</span>
  </div>
</div>