& {
  
  background-color: rgba(greys(5%), 0.78);
  @include shadow(1);

  & .sticky-trigger {
    cursor:pointer;
    width:32px;
    height:32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .sticky-wrapper {
    height:0;
    width: 0;
    overflow:hidden;
  }

}


&.open {
  
  & .sticky-trigger i {
    transform:rotate(90deg);
  }

  & .sticky-wrapper {
    height:auto;
    width: auto;
  }
  
}
