<span class="label">{{cell.value}}</span>
{{input value=cell.value enter="onInputEnter" focus-out="onInputBlur" key-up="onKeyUp"}}
<div class="meta-icons">
    {{x-spreadsheet.data-type-icon meta=cell.column.meta}}
    <div class=""></div>
    <div class=""></div>
</div>
<div class="resize-handle"></div>