<span class="label">{{cell.value}}</span>
{{x-spreadsheet.x-cell-input input 
    value=cell.value 
    dataType=cell.column.meta.type 
    precision=cell.column.meta.precision 
    enter="onInputEnter" 
    focus-out="onInputBlur" 
    key-up="onKeyUp"
 }}