& {
  
  position: relative;
  
  li {
    cursor: pointer;
  }
  
  .dragged  {
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 9999;
    cursor: move !important;
  }

  li.overed {
    background-color: color(primary);
  }

  li.ghost {
    background: #ddd;
  }
  
}
