& {
  @extend .with-relief;
  position: absolute;
  top: 2rem;
  right: 6rem;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.86);
  border-radius: 4px;
  min-width: 25rem;

  .head {
    margin-bottom: 0;
  }

  svg {
    width: 12px;
    height: 12px;
  }

  .positioning-warning {
    max-width: 200px;
  }

  textarea.auto-expand {
    &:focus {
      margin-top: $gutter/3;
      margin-bottom: $gutter/3;
    }
  }
}
