& {
  @extend .with-relief;
  position: absolute;
  top: 2rem;
  right: 6rem;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.86);
  border-radius: 4px;
  min-width: 25rem;

  .head {
    margin-bottom: 0;
  }

  .positioning-warning {
    max-width: 230px;
    margin-top: $gutter/2;
  }

  textarea.auto-expand {
    &:focus {
      margin-top: $gutter/3;
      margin-bottom: $gutter/3;
    }
  }

  .subsetting-marker {
    margin-top: 1rem;
    margin-bottom: $gutter/3;
  }

  .marker-trigger-button {
    svg {
      width: 12px;
      height: 12px;
      margin-top: 0.5em;
    }
  }


}
