.button {
  display: inline-block;
  line-height: 2em;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;

  
}

button {
  // <button> element override.
  outline: none;
  border: none;
}


.button:hover {
  transition: text-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: rgba(125, 125, 125, 0.26) 1px 1px 1px;
  transition-delay: 0.05s;
}


.button.disabled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  cursor: not-allowed;
}


.button.filled {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}


.button.filled:hover {
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: none;
  transition-delay: 0.05s;
  box-shadow: 0 1px 4px 0 rgba(64, 64, 64, 0.26);
}


.button.tiny {
  line-height: 1.7em;
  font-size: 0.85em;
}


.button.small {
  line-height: 1.8em;
  font-size: 0.9em;
}

a.button {
  text-decoration: none;
  &:visited { color: color(text); }
}


.column-editor-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dropdown-trigger .add-variable-button {
  border-radius: 50%;
  background-color: color(variable);
  color: color(titles);
  width: 45px;
  height: 45px;
  box-shadow: 2px 2px 5px rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &, .iconfont {
    font-size: 3.5rem;
  }

  i {
    margin-top: -5px;
    margin-left: 2px;
  }

  margin-bottom: 0.5rem;
}
