.collection {
  
  //border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  padding: 0;

  & > li:first-child {
    background-color: color(titles);
    color: #FFF;
    margin-bottom: 3rem;
  }
  
  & > li {
    
    @extend %padded;
    
    list-style-type: none;
    background-color: color(variable);
    //background-color: #fff;
    //border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0.5rem;
    
    &.clickable:hover {
      background-color: greys(10%);
    }
   
    &:last-child {
      border-bottom: none;
    }
    
    .title {
      font-size: 1.1em;
      font-weight: bold;
    }
    
    .description {
      color: greys(70%);
      margin: 0;
    }
    
    &.selected {
      @extend .filled.primary;
      &.clickable:hover {
        background-color: lighten($color-primary, 2%);
      }
    }
    
  }
  
}
