.collection {
  
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  padding: 0;

  & > li {
    
    @extend %padded;
    
    list-style-type: none;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;

    &.clickable:hover {
      background-color: greys(10%);
    }
   
    &:last-child {
      border-bottom: none;
    }
    
    .title {
      font-size: 1.1em;
      font-weight: bold;
    }
    
    .description {
      color: greys(70%);
      margin: 0;
    }
    
    &.selected {
      @extend .filled.primary;
      &.clickable:hover {
        background-color: lighten($color-primary, 2%);
      }
    }
    
  }
  
}
