$dialog-header-height: 4.6rem !default;
$dialog-footer-height: 3.6rem !default;

.dialog {
    
    @extend %panel;
    @extend .with-relief;
    
    & > footer {
        
        @extend %flow;
        @extend %horizontal;
        @extend %right;
        @extend %airy;
        @extend %middle;
        
        height: $dialog-footer-height;
        padding: 0px $gutter 0px $gutter;
        
        & > .button {
            
            @extend %flow;
            @extend %horizontal;
            @extend %solid;
            @extend %middle;
            @extend %center;
            
        }
        
    }
    
}