$dialog-header-height: 4.6rem !default;
$dialog-footer-height: 3.6rem !default;

.panel, %panel {
    
    & > header {
        
        @include flow(horizontal, space-between, middle);
        
        height: $dialog-header-height;
        padding: 0px $gutter 0px $gutter;
        
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        
        .actions {}

    }
    
    & > *:not(footer):not(header) { //body
        padding: $gutter $gutter $gutter $gutter;
    }
    
}

.panel.small {
    
    & > header {
        
        height: $dialog-header-height / 2;
        padding: 0px $gutter/2 0px $gutter/2;
        
        .title {
            font-size: 1.05em;
        }
        
    }
    
    & > *:not(footer):not(header) {
        padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
    }
    
}
