<div class="configuration-panel filled padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.layer'}}{{t "navigation.chooseVisualization"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i>{{x-capitalize (t (concat "visualization." editedLayer.mapping.type ".name"))}}</div>
    <div class="actions">
      {{#link-to 'graph'}}<div class="small button filled default" {{action 'navigateTo' 'graph'}}>Fermer</div>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="settings horizontal center airy flow">
      <div class="solid vertical flow w6">
      </div>
      <div class="solid vertical flow w6">
        {{distribution-bars distribution=editedLayer.mapping.distribution intervals=editedLayer.mapping.intervals}}
      </div>
    </div>
  </div>
</div>