& {
  font-size: 0.9em;

  .button {
    &.control-button.draw-text {
      font-size: 1.6rem;
    }
    &:not(:first-child) {
      margin-top: -1px;
    }
    &.selected {
      background-color: color(primary2);
      color: white;
    }
  }
}
