  {{#x-tooltip message=(t 'toolbar.tooltip.drawText') position="left"}}
  <div class="fluid button control-button draw-text {{if (x-eq selectedState 'text') 'selected'}}" {{action 'switchDrawingState' 'text'}}>
    <i class="iconfont iconfont-text"></i>
  </div>
  {{/x-tooltip}}
  {{#x-tooltip message=(t 'toolbar.tooltip.drawArrow') position="left"}}
  <div class="fluid button control-button {{if (x-eq selectedState 'line') 'selected'}}" {{action 'switchDrawingState' 'line'}}>
    <i class="iconfont iconfont-draw-arrow"></i>
  </div> 
  {{/x-tooltip}}