<div class="stepper stepper-start">

    <h2 class="stepper__title">Nouveau projet</h2>

    <div class="stepper__options">

        <div class="stepper__option">
            <div class="inner">
                <i class="fa fa-folder-open-o"></i>
                <h3>Importer des données</h3>
            </div>
        </div>

        <div class="stepper__option" {{action 'createDataSet'}} >
            <div class="inner">
                <i class="fa fa-file"></i>
                <h3>Partir d'un jeu vide</h3>
            </div>
        </div>
    </div>


</div>

