& {
  .of-stroke {
    .sp-preview-inner {
      margin: 2.5px 2.5px 2.5px 2.5px;
      border-width: 3px;
      border-style: solid;
    }
  }
  
  .sp-replacer {
    
    background-color: white;
    border-radius: 2px;
    border: none;
    height: 20px;
    padding: 4px;
    
    .sp-preview {
      height: 12px;
      width: 18px;
      border: #EEEEEE;
      margin-right: 4px;
    }
    
    .sp-dd {
      margin-top: -6px;
      font-size: 20px;
      padding: 0;
      line-height: 20px;
    }
    
  }

  &.on-white .sp-replacer {
    background-color: greys(5%);
  }
}
