& {
  @extend %flow;
  @extend %vertical;
  @extend %outer;
  @extend %full;
}

$spreadsheet-cell-width: 140px !default;
$spreadsheet-cell-height: 30px !default;
$spreadsheet-cell-header-height: 50px !default;
$spreadsheet-numbering-width: 30px !default;

.toolbar {
  @extend %flow;
  @extend %horizontal;
  @extend %solid;
  @extend %center;
  @extend %middle;
  @extend %airy;
  @extend %padded-v;
  @extend .filled.default;

  // TODO: centralize z-index levels in a scss map
  z-index:2;

  height: 60px;
  //background-color: hsla(0,0%,31%,1); // dark
  background-color: hsla(0, 0%, 87%, 1);
  border-bottom: 1px solid hsl(0, 0%, 83%);
  border-left: 1px solid hsl(0, 0%, 83%);

  .tool {

    position:relative; // Tooltip

    display: flex;
    align-items: center;
    justify-content: center;
    //
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.1em;

    cursor: pointer;
    font-weight: bold;
    border: 1px solid hsla(0,0%,0.2%,0.1);
    background-color: hsla(0,0%,70%, 1);
    color: hsla(0,0%,30%, 1);

    font-size:2.7rem;
    &:hover {
      background: rgb(244, 159, 11);
      color: hsla(0,0%,30%, 1);
    }
  }
}

.sheet {

  @extend %flow;
  @extend .filled;

  overflow: scroll;

  .background {
    @extend .filled.default;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;

    line {
      stroke: #D0D0D0;
    }
  }

  & > .header {
    @extend .filled.contrast;
    @extend .with-relief;
    @extend .with-relief.topbar;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: $spreadsheet-numbering-width;

    .cell {
      height: $spreadsheet-cell-header-height;
      border-right: 1px solid #313030;
      border-bottom: none;
    }

    .cell .meta-icons {
      @extend %flow;
      @extend %solid;
      @extend %vertical;
      @extend %middle;
      @extend %breakable-reverse;
      @extend %right;
      @extend %airy;

      z-index: 10;
      align-content: flex-start;
      height: $spreadsheet-cell-header-height;
      padding-top: 2px;
      padding-bottom: 2px;

      & *[class^="icon-"] {
        @extend %solid;

        position: relative; // tooltip

        display: flex;
        align-items: center;
        justify-content: center;

        width: 18px;
        height: 18px;

        border-radius: .2em;
        margin: 2px;

      }
    }
  }

  & > .body {
    @extend .filled;
    position: absolute;
    top: $spreadsheet-cell-header-height;
    left: $spreadsheet-numbering-width;
    margin-right: $spreadsheet-cell-width;
    margin-bottom: $spreadsheet-cell-height;

    box-shadow: 0 4px 16px rgba(#000, 0.2);
  }

  & > .numbering, & > .dash {

    position: absolute;
    top: 0px;
    left: 0px;

    .cell {
      width: $spreadsheet-numbering-width;
    }

  }

  & > .numbering {
    @extend .filled.contrast;
    @extend .with-relief;
    @extend .with-relief.leftbar;
    padding-top: $spreadsheet-cell-header-height;
    .cell {
      border-right: none;
      border-bottom-color: #313030;
    }
  }

  & > .dash {
    @extend .filled.warning;
    @extend .with-relief;
    @extend .with-relief.leftbar;
    .cell {
      border: none;
      height: $spreadsheet-cell-header-height;
    }
  }

  .row {
    @extend %flow;
    @extend %horizontal;
  }

  .cell {

    @extend %flow;
    @extend %horizontal;
    @extend %middle;
    @extend %padded;

    width: $spreadsheet-cell-width;
    height: $spreadsheet-cell-height;

    border-bottom: 1px solid hsl(0, 0%, 82%);
    border-right: 1px solid hsl(0, 0%, 54%);

    .label {
      @extend %fluid;
      overflow: hidden;
      white-space: nowrap;
    }

    input {
      @extend %fluid;
      border: none;
      display: none;
      margin-left: -$gutter/2;
      margin-right: -$gutter/2;
    }

    &.edited input {
      display: flex;
    }
    &.edited .label {
      display: none;
    }
    &:focus {
      outline: none;
    }

    // Overlapping border simulation on body cells
    &.selected::before,
    &.edited::before {

      $border-width: 2px;

      content: '';
      position: absolute;
      top: - $border-width;
      left: - $border-width;
      bottom: - $border-width;
      right: - $border-width;
      border: $border-width solid $color-primary;
      background-color: transparent;
      z-index: -1;
    }

    &.selected.edited:not(.header)::before {
      border-color: $color-warning;
      // TODO: Maybe put an 'editing icon' indicator?
    }

    // Selected header cell's border does not 'overflows'
    &.header.selected::before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    // Header cells ===> Top left triangle
    //&.header.selected::before,
    //&.header.selected.edited::before {
    //  content: '';
    //  background-color: transparent;
    //
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //
    //  height: 0;
    //  width: 0;
    //
    //  border-left: 20px solid $color-primary;
    //  border-right: 20px solid transparent;
    //  border-bottom: 20px solid transparent;
    //}

    &.header.selected.edited {
      background-color: rgba($color-warning, 0.4);
    }

    &.header.selected.edited::before {
      border: none;
    }

  }

  /* RESIZE */

  $resize-handle-width: 0.6rem !default;

  & > .resizer {
    z-index: 5;

    display: none;
    position: absolute;
    width: $resize-handle-width;
    height: 100%;

    &.dragged {
      display: block;
      border-right: 1px solid $color-primary;
    }

  }

  & > .resizer {
    pointer-events: none;
  }

  & > .resizer .handle, & > .header .resize-handle {
    @extend .filled.primary;
    position: absolute;
    top: 0;
    right: 0;
    width: $resize-handle-width;
    height: $spreadsheet-cell-header-height;
    cursor: e-resize;
  }

  & > .header .resize-handle {
    display: none;
    right: -1px;
  }

  & > .header .cell:hover .resize-handle {
    display: block;
  }

  & > .header .cell.resizing:hover .resize-handle {
    display: none;
  }

}
