& {
    @extend %flow;
    @extend %outer;
    @extend %full;
}

$spreadsheet-cell-width: 250px !default;
$spreadsheet-cell-height: 50px !default;
$spreadsheet-numbering-width: 30px !default;


.sheet {
    
    @extend %flow;
    @extend .filled;
    
    overflow: scroll;
    
    & > .header {
        @extend .filled.contrast;
        @extend .with-relief;
        @extend .with-relief.topbar;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: $spreadsheet-numbering-width;
    }
    
    & > .body {
        @extend .filled;
        position: absolute;
        top: $spreadsheet-cell-height;
        left: $spreadsheet-numbering-width;
    }
    
    & > .numbering, & > .dash {
        
        position: absolute;
        top: 0px;
        left: 0px;
        
        .cell {
            width: $spreadsheet-numbering-width;
        }
        
    }
    
    & > .numbering {
        @extend .filled.contrast;
        @extend .with-relief;
        @extend .with-relief.leftbar;
        padding-top: $spreadsheet-cell-height;
    }
    
    & > .dash {
        @extend .filled.primary;
        @extend .with-relief;
        @extend .with-relief.leftbar;
        .cell { border: none };
    }
    
    .row {
        @extend %flow;
        @extend %horizontal;
    }
    
    .cell {
        
        @extend %flow;
        @extend %horizontal;
        @extend %middle;
        @extend %padded;
        @extend .bordered;
        
        width: $spreadsheet-cell-width;
        height: $spreadsheet-cell-height;
        
        input {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            display: none;
        }
        
        &.edited input { display: flex; }
        &.edited .label { display: none; }
        
    }
    
}