<div class="sheet">
    <div class="body">
        {{#each struct.body as |row|}}
            <div class="row">
                {{#each row.cells as |cell|}}
                    {{x-spreadsheet.x-cell cell=cell
                        edit-start="startEditCell"
                        edit-end="endEditCell"
                        select-start="startSelectCell"
                        select-end="endSelectCell"
                    }}
                {{/each}}
            </div>
        {{/each}}
    </div>
    
    <div class="numbering">
        {{#each struct.body as |row i|}}
            <div class="row"><div class="cell">{{i}}</div></div>
        {{/each}}
    </div>
    <div class="header">
        <div class="row">
            {{#each struct.header.cells as |cell|}}
                {{x-spreadsheet.x-header cell=cell
                    edit-start="startEditCell"
                    edit-end="endEditCell"
                    mouse-enter="onMouseEnterHeader"
                    mouse-leave="onMouseLeaveHeader"
                    start-resize="onStartResizeHeader"
                }}
            {{/each}}
        </div>
    </div>
    <div class="dash">
        <div class="row"><div class="cell">#</div></div>
    </div>
    {{x-spreadsheet.x-resizer target=resizable apply-resize="onApplyResize"}}
</div>
