<div class="sheet">
    <div class="head">
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
        <div class="row">
            <div class="cell">Colonne 1</div>
            <div class="cell">Colonne 2</div>
            <div class="cell">Colonne 3</div>
            <div class="cell">Colonne 4</div>
            <div class="cell">Colonne 5</div>
            <div class="cell">Colonne 6</div>
        </div>
    </div>
</div>
