<div class="sidebar-scroll-wrapper">

    <div class="help">{{outlet 'help'}}</div>

    <div class="vertical flow">
        {{partial sidebarPartial}}
    </div>

</div><!-- End scrollbar-wrapper -->