<aside class="solid airy vertical flow padded">
    <div class="small panel">
        <header class="filled primary">
            <div class="title">Mise en page</div>
            <div class="actions"></div>
        </header>
        <div class="vertical airy flow padded-v filled">
            <div class="horizontal airy middle flow">
                <div class="horizontal middle flow">
                    <label class="horizontal right flow w3 padded-r text-right">W</label>
                    {{input value=model.graphLayout.width}}
                    <small class="padded">px</small>
                </div>
                <div class="horizontal middle flow">
                    <label class="horizontal right flow w3 padded-r text-right">H</label>
                    {{input value=model.graphLayout.height}}
                    <small class="padded">px</small>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="small panel">
        <header class="filled primary">
            <div class="title">Contenu</div>
            <div class="actions"><b>-</b></div>
        </header>
        <div class="vertical airy flow filled">
            <div class="vertical middle flow">
                <label class="horizontal flow">Contenu de l'article</label>
                <textarea/>
            </div>
            <div class="horizontal airy middle center flow">
                <label class="horizontal right solid flow text-right">Oui ?</label>
                <span><input type="radio" name="group1"/><i class="-h"></i></span>
                <label class="horizontal right solid flow text-right">Non ?</label>
                <span><input type="radio" name="group1"/><i class="-h"></i></span>
            </div>
            <div class="horizontal airy middle center flow">
                <label class="horizontal right solid flow text-right">Validé ?</label>
                <span><input type="checkbox"/><i class="-h"></i></span>
            </div>
        </div>
    </div>-->
</aside>