<div class="sidebar-scroll-wrapper">

    <div class="help">
        {{outlet 'help'}}
        <i class="iconfont iconfont-info-circle"></i>
    </div>

    <div class="vertical flow">
        {{partial sidebarPartial}}
    </div>

</div><!-- End scrollbar-wrapper -->