<div class="arrows-navigation left">
    {{#x-button class="default btn-prev btn-arrow" action=(action 'back')}}
        <i class="iconfont iconfont-angle-left"></i> {{!t "general.back"}}
    {{/x-button}}
</div>
<a href="http://www.sciencespo.fr/cartographie/" class="fluid logo-atelier clickable"></a>
<div class="arrows-navigation right">
    {{#x-button class="primary btn-next btn-arrow" invisible=(x-not hasNextState) action=(action 'next')}}
        {{!t "navigation.openMap"}} <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</div>
