& .text-style-settings {
    background-color: color(default);
    font-size: 0.8em;
    .iconfont.iconfont-angle-down {
        font-size: 1.2rem;
    }

    .button.small {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .font-size-list-item {
        padding-right: 2rem;
    }
}