.accordion-item {
  & .accordion-trigger {
    @include flow(space-between);
    
    .icon-closed {
      display: inline-block;
    }
    .icon-open {
      display: none;
    }
  }
  &.active .accordion-trigger {
    .icon-closed {
      display: none;
    }
    .icon-open {
      display: inline-block;
    }
  }
}
