<div class="horizontal stretched flow">
{{x-spreadsheet class="csvsheet" 
  navigateTo="navigateTo"
  data=model.data
  ask-versioning="onAskVersioning"
  canUndo=store.versioning.canUndo
  canRedo=store.versioning.canRedo
  }} {{!-- colsMinWidth=Number --}}
</div>
{{x-test}}
{{outlet}}