<aside class="vertical padded solid flow space-between">
    <div class="content padded-h">
        <h2>{{t "spreadsheet.sidebar.title"}}</h2>
        <p>{{t "spreadsheet.sidebar.p1"}}</p>
    </div>
</aside>