<div class="horizontal stretched flow">
{{x-spreadsheet class="csvsheet" 
  navigateTo="navigateTo"
  data=model.data
  save-history="onSaveHistory"}} {{!-- colsMinWidth=Number --}}
</div>
{{x-test}}
{{outlet}}