<aside class="vertical padded solid flow space-between">
    <div class="content padded-h">
        <h2>1. Importation des données</h2>
        <p>Cette interface vous permet d'importer les données qui serviront de base à votre création graphique.<br/>
        </p>
        <p>Importez vos données depuis un fichier .csv (<a href="#">En savoir plus</a>).</p>
        <div class="text-center">
            <div class="button small filled primary">Importer des données csv</div>
        </div>
        <p>ou créez directement un jeu de données dans l'interface.</p>
        <p>Si vous n'avez pas de jeu de données à disposition, découvrez l'application à l'aide d'un jeu de test</p>
        <div class="text-center">
            <div class="button small filled primary">Charger les données de test</div>
        </div>
    </div>
    <div class="footer padded bottom">
        <p>Une fois la saisie de vos données terminée passez à l'édition de votre graphique</p>
        <div class="text-center">
            <div class="button filled success">Etape suivante &gt;</div>
        </div>
    </div>
</aside>