<div class="horizontal stretched flow">
{{x-spreadsheet class="csvsheet" 
  navigateTo="navigateTo"
  data=model.data
  ask-undo="onAskUndo"
  ask-redo="onAskRedo"}} {{!-- colsMinWidth=Number --}}
</div>
{{outlet}}