<div class="report">
    <h1>Choix du type de carte</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at cum magni nostrum, odit quam sed? Autem et
        fugit, ipsum placeat rem ullam vero?
    </p>

</div>

{{x-button label=(t "general.Back") class="filled default btn-prev" action=(action 'back')}}
{{x-button label=(t "general.Next") class="filled primary btn-next" disabled=hasErrors action=(action 'next')}}
