<div class="vertical airy padded">
  <div class="horizontal airy flow">
    {{#each model as |o|}}
      <a class="fluid bordered padded text-center" {{action 'selectDataset' o}}>
        {{o.name}}
      </a>
    {{/each}}
  </div>
</div>