& {
  
  @extend %flow;
  @extend %horizontal;
  
  .swatch {
    width: 10px;
    height: 10px;
  }
  
  border: 1px solid greys(10%);
  
  &.selected {
    border: 1px solid color(primary);
  }
  
}
