& {
  
  $axis-top: 10px;
  $axis-height: 5px;
  
  position: relative;
  height: 50px;
  
  .slider {
    
    position: absolute;
    top: $axis-top;
    height: 24px;
    
    g.dragger {
    
      fill: color(primary);
      cursor: pointer;
      
      .value {
        fill: #404040;
        font-size: 10px;
      }
      
    }
    
    g.axis {
      
      path.domain {
        fill: none;
        stroke: greys(60%);
        stroke-width: $axis-height;
        stroke-linecap: round;
      }
      
      line.ticks {
        fill: none;
        stroke: white;
        stroke-width: $axis-height;
        pointer-events: none;
      }
      
    }
    
  }
  
}
