& {
    position: absolute;
    bottom: 0px;
    right: 3*$gutter;

    & > .button {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding-left: $gutter;
        padding-right: $gutter;
    }

    .export-menu {
        @extend .with-relief;
        position: absolute;
        background: white;
        width: 32rem;

        .export-type-title {
            font-size: 0.9em;
            font-weight: bold;
        }
    }
}