
<div class="report vertical flow">

    <div class="vertical airy padded flow">
        <h2 class="title">{{t 'import.preview'}}</h2>

        <div class="report-preview">
            <table>
                <thead>
                    <tr>
                        {{#each model.project.data.header.cells as |cell|}}
                            <th>{{cell.value}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each bodyPreview as |row|}}
                        <tr>
                            {{#each row.cells as |cell|}}
                                <td>{{cell.value}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>