@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin rectangle-top($h, $w, $color) {
  border-style: solid;
  border-width: 0 $w $h $w,;
  border-color: transparent;
  border-bottom-color: $color;
}

@mixin rectangle-bottom($h, $w, $color) {
  border-style: solid;
  border-width: $h $w 0 $w,;
  border-color: transparent;
  border-top-color: $color;
}

@mixin rectangle-left($h, $w, $color) {
  border-style: solid;
  border-width: $w $h $w 0;
  border-color: transparent;
  border-right-color: $color;
}

@mixin rectangle-right($h, $w, $color) {
  border-style: solid;
  border-width: $w 0 $w $h;
  border-color: transparent;
  border-left-color: $color;
}
