& {

  line.horizontal-top,
  line.horizontal-bottom,
  line.vertical-left,
  line.vertical-right {
    stroke-width: 0;
    &.visible {
      stroke-width: 1;
    }
  }

  .margin-resizer rect {
    opacity: 0;
    &.t, &.b { cursor: ns-resize; }
    &.l, &.r { cursor: ew-resize; }
  }

  .fg {
    pointer-events: none;
  }

  .labelling line.radius, .labelling line.end {
    stroke: #404040;
  }

  .legend-title {
    cursor: pointer;
  }

}
