& {

  line.horizontal-top,
  line.horizontal-bottom,
  line.vertical-left,
  line.vertical-right {
    stroke-width: 0;
    &.visible {
      stroke-width: 1;
    }
  }

  .margin-resizer rect {
    opacity: 0;
    &.t, &.b { cursor: ns-resize; }
    &.l, &.r { cursor: ew-resize; }
  }

  .fg, .feature.surface, .feature.symbol {
    pointer-events: none;
  }

  .labelling line.radius, .labelling line.end {
    stroke: #404040;
  }

  .legend-title {
    cursor: pointer;
  }

  .hover-land {
    stroke: none;
    fill: rgba(0, 0, 0, 0.0001);
  }

  .hover-land.overed {
    fill: rgba(color(primary), 0.45);
  }

  .hover-point {
    path {
      stroke: none;
      fill: rgba(0, 0, 0, 0.0001);
    }
  }

  .static-point, .hover-point {
    circle {
      fill: #404040;
    }
  }

  .hover-point.overed {
    circle {
      fill: rgba(0, 0, 255, 0.3);
    }
  }

}

