<div class="report">
    <h1>Configuration des colonnes</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at cum magni nostrum, odit quam sed? Autem et
        fugit, ipsum placeat rem ullam vero?
    </p>

    <div class="vertical padded flow">
        <ul>
            <li>
                <span>Lorem ipsum</span>
                <div class="columsn-actions">
                    <button>Masquer / Afficher</button>
                    <button>Tag type</button>
                    <button>Drop down</button>
                </div>
            </li>
            <li>
                <span>Lorem ipsum</span>
                <div class="columsn-actions">
                    <button>Masquer / Afficher</button>
                    <button>Tag type</button>
                    <button>Drop down</button>
                </div>
            </li>
            <li>
                <span>Lorem ipsum</span>
                <div class="columsn-actions">
                    <button>Masquer / Afficher</button>
                    <button>Tag type</button>
                    <button>Drop down</button>
                </div>
            </li>
            <li>
                <span>Lorem ipsum</span>
                <div class="columsn-actions">
                    <button>Masquer / Afficher</button>
                    <button>Tag type</button>
                    <button>Drop down</button>
                </div>
            </li>
            <li>
                <span>Lorem ipsum</span>
                <div class="columsn-actions">
                    <button>Masquer / Afficher</button>
                    <button>Tag type</button>
                    <button>Drop down</button>
                </div>
            </li>
        </ul>
    </div>
</div>

{{x-button label=(t "general.Back") class="filled default btn-prev" action=(action 'back')}}
{{x-button label=(t "general.Next") class="filled primary btn-next" disabled=hasErrors action=(action 'next')}}
