<div class="sidebar-scroll-wrapper">
    <div class="help">{{outlet 'help'}}</div>
    {{#if canResumeProject}}
      {{#x-tooltip message=(t 'project.step1.tooltip.resumeProject') position="right"}}
      {{#x-button class="solid filled primary" action=(action 'resumeProject')}}
          <span class="tooltip-trigger">{{x-capitalize (t "project.resume")}}</span>
      {{/x-button}}
      {{/x-tooltip}}
    {{/if}}
</div>

<div class="arrows-navigation right">
    {{#x-button class="primary btn-next btn-arrow" disabled=(x-not parsable) invisible=hasErrors action=(action 'parseCsvContent')}}
       <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</div>


