<div class="sidebar-scroll-wrapper">
    <div class="help">{{outlet 'help'}}</div>
</div>

<div class="navheader right">
    {{#x-button class="primary btn-next btn-arrow" disabled=(x-not parsable) invisible=hasErrors action=(action 'parseCsvContent')}}
    {{!t "navigation.openMap"}} <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</div>


