<div class="arrows-navigation left">
</div>
<a href="http://www.sciencespo.fr/cartographie/" class="fluid logo-atelier clickable"></a>
<div class="arrows-navigation right">
    {{#x-button class="primary btn-next btn-arrow" disabled=(x-not parsable) invisible=hasErrors action=(action 'parseCsvContent')}}
       <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</div>
