<div class="flow vertical">
    <span class="app-version">Khartis {{app-version hideSha=true}}</span>
    <a href="http://www.sciencespo.fr/cartographie/" class="logo-atelier" target="_blank"></a>
</div>

<nav class="flow horizontal right">
    {{#x-button class="primary btn-home"}}
        <i class="iconfont iconfont-home"></i>
    {{/x-button}}
    {{#x-button class="primary btn-prev btn-arrow" disabled=(x-not parsable) }}
        <i class="iconfont iconfont-angle-left"></i>
    {{/x-button}}
    {{#x-button class="primary btn-next btn-arrow" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
        <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</nav>