<div class="sidebar-scroll-wrapper">
    <div class="help">{{outlet 'help'}}</div>
    <div class="vertical airy flow">
    {{#if canResumeProject}}
      {{#x-tooltip message=(t 'project.step1.tooltip.resumeProject') position="right"}}
      {{#x-button class="solid filled primary" action=(action 'resumeProject')}}
          <span class="tooltip-trigger">{{x-capitalize (t "project.resume")}}</span>
      {{/x-button}}
      {{/x-tooltip}}
    {{/if}}
    {{#x-tooltip message=(t 'project.step1.tooltip.importProject') position="right"}}
    {{#file-loader label="" class="button solid filled primary" onContentLoaded="loadExternalProject" tagName="div"}}
      <span class="tooltip-trigger">{{x-capitalize (t "project.step1.importPoject.title")}}</span>
    {{/file-loader}}
    {{/x-tooltip}}
    </div>
</div>

