.protanopia {
  -webkit-filter:url(#protanopia);-moz-filter:url(#protanopia);-ms-filter:url(#protanopia);-o-filter:url(#protanopia);filter:url(#protanopia);
}
.protanomaly {
  -webkit-filter:url(#protanomaly);-moz-filter:url(#protanomaly);-ms-filter:url(#protanomaly);-o-filter:url(#protanomaly);filter:url(#protanomaly);
}
.deuteranopia {
  -webkit-filter:url(#deuteranopia);-moz-filter:url(#deuteranopia);-ms-filter:url(#deuteranopia);-o-filter:url(#deuteranopia);filter:url(#deuteranopia);
}
.deuteranomaly {
  -webkit-filter:url(#deuteranomaly);-moz-filter:url(#deuteranomaly);-ms-filter:url(#deuteranomaly);-o-filter:url(#deuteranomaly);filter:url(#deuteranomaly);
}
.tritanopia {
  -webkit-filter:url(#tritanopia);-moz-filter:url(#tritanopia);-ms-filter:url(#tritanopia);-o-filter:url(#tritanopia);filter:url(#tritanopia);
}
.tritanomaly {
  -webkit-filter:url(#tritanomaly);-moz-filter:url(#tritanomaly);-ms-filter:url(#tritanomaly);-o-filter:url(#tritanomaly);filter:url(#tritanomaly);
}
.achromatopsia {
  -webkit-filter:url(#achromatopsia);-moz-filter:url(#achromatopsia);-ms-filter:url(#achromatopsia);-o-filter:url(#achromatopsia);filter:url(#achromatopsia);
}
.achromatomaly {
  -webkit-filter:url(#achromatomaly);-moz-filter:url(#achromatomaly);-ms-filter:url(#achromatomaly);-o-filter:url(#achromatomaly);filter:url(#achromatomaly);
}
