.brand {
  align-items: center;
  display: flex;
  font-size: 4.1rem; /*5.4rem;*/
  /* 41pt */
  font-family: 'CabinSketch', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  a {
    text-decoration: none;
  }
}