/* color picker customization*/
.sp-container {
  padding: 2px;
}

.sp-picker-container {
  border: none;
}

.sp-container button, .sp-container button:hover {
  @extend .button;
  background-color: color(primary);
  background-image: none;
  border: none;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  box-shadow: none;
  transition: none;
  text-shadow: none;
}