.settings.labelling {

  .dropdown-trigger {
    font-size: 0.9em;
  }

}

.export-column {
  margin-bottom: $gutter;
}

.export-column .title {
  text-transform: uppercase;
}

.export-button-group {
  font-size: 0.9em;
}

.add-text-drawing-button, .add-arrow-drawing-button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid color(text);
  line-height: 1.1em;
  &:hover {
    border: 1px solid grey;
  }
}

.add-text-drawing-button {
  padding-left: 0.22em;
  .iconfont {
    font-size: 0.9em;
  }
}

.add-arrow-drawing-button {
  padding-left: 0.2em;
  .iconfont {
    font-size: 1.1em;
  }
}
