.graph {

  overflow-x: hidden;

  .body.expanded {
    margin-right: -300px;
  }
  
  .graph-topbar {
    
    height: 5.6rem;
    
    & > * {
      padding-bottom: $gutter / 4;
    }
    
    & > *:nth-child(2n) {
      border-left: 3px solid white;
      border-right: 3px solid white;
    }
    
    .proj-slider {
      margin-top: -5px;
    }
    
    .toggle-projection-button {
      font-size: 3rem;
      line-height: 1em;
    }
    
    .control-buttons {
      @extend %padded-h;
      padding-bottom: $gutter / 4;
      .control-button {
        border: 1px solid #000;
        border-radius: 0;
        line-height: 1em;
        font-size: 1.8rem;
        width: 2.6rem;
        height: 2.6rem;
        padding: 0.2rem 0.2rem;
        margin-right: 0.2rem;
        &.zoom {
          margin-left: $gutter / 2;
        }
      }
    }
    
    
  }
  
}

.sidebar {
  
  border-right: 1px solid greys(20%);
  
  .content {
    @include flow(vertical, airy);
    @extend %padded;
  }
  
  .bottom-navbar {
    @include flow(middle, solid);
    padding: 0.1rem 1rem 0.1rem 1rem;
    height: 3rem;
    background-color: greys(10%);
    border-bottom: 1px solid greys(15%);
    
    div:nth-child(2) {
      text-align: right;
    }
    
    &.reverse {
      @extend .rtl;
    }
    
  }

  .settings {
    
    .accordion-trigger {
      & {
        color: greys(70%);
        font-size: 1em;
      }
      padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
      border-bottom: 1px solid greys(40%);
    }
    
  }
  
}

svg {
  
  .map {
    cursor: -webkit-grab;
    cursor: grab;
    &.dragging {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
  
  .legend {
    cursor: move;
    &.dragging {
      cursor: grab;
    }
  }
  
}

.map-editor {
  display:block;
}
