.header-icons {
  @include flow(solid, right);
  .icon {
    @include flow(solid, middle);
    padding: 0 2rem 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &.active {
      background-color: white;
      color: hsl(0, 0%, 40%);
      background-color: greys(5%);
    }
  }
}

.lang-switcher {


  display: flex;
  align-items: stretch;

  a {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  li {
    padding: 1rem 1.2rem;
    text-align: right;
  }

  a, li {
    cursor: pointer;
    font-size: 2rem;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .dropdown {
    min-width: 8rem;
  }

  > a:hover,
  > a.active {
    color: hsl(0, 0%, 40%);
    background-color: greys(5%);
  }

  .lang-switcher-item {
    position: relative;
  }
}
