.header-icons {
  @include flow(solid, right);
  .icon {
    @include flow(solid, middle);
    padding: 0 2rem 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
}

.lang-switcher {


  display: flex;
  align-items: stretch;

  a {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  li {
    padding: 1rem 1.2rem;
    text-align: right;
  }

  a, li {
    cursor: pointer;
    font-size: 2rem;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .dropdown {
    min-width: 8rem;
  }

  .lang-switcher-item {
    position: relative;
  }
}


.application-header .header-icons a {

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &.active {
    color: #FFF;
  }

}