//.help.sidebar {
//  $width: 400px;
//  width: $width;
//  overflow: hidden;
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  transition: width 150ms ease-out;
//  background-color: greys(5%);
//  border-left: 1px solid greys(10%);
//
//  .inner {
//    padding: 2em;
//    width: $width;
//  }
//
//  h2 { margin: 0; }
//
//}

.help {

  position: relative;
  font-size: 1.2rem;
  font-style: italic;
  margin: 2rem 0;
  line-height: 1.4;

  padding-left: 3rem;

  &.markdown {
    h1 {font-size: 1.2em;}
    h2 { margin: 1.1em; }
  }

  .iconfont {
    color: color(primary);
    font-size: 2rem;
    position: absolute;
    top: -.5rem;
    left: 0
  }

}
