.import-link span {
  border-bottom: 1px solid color(primary);
}

.step-import {

  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: auto;
  background: #f2f2f2;

  .dropdown-trigger {
    @include flow(horizontal, space-between);
    background-color: white;
    padding: 0.5rem 1rem;
    border:1px solid greys(10%);
    border-bottom-width: 3px;
  }

  .map-preview {
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .import-a-basemap {
    padding: 1em;
    background-color: white;
    font-size: 0.95em;
    margin-bottom: 2em;
    .import-basemap-uploader {
      @extend .clickable;
      color: color(primary);
      border: 2px dashed color(primary);
      border-radius: 5px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &.dragging {
        color: color(primary2);
        border: 2px dashed color(primary2);
      }
    }
  }


  .map-dictionary-preview {
    overflow-x: auto;
    font-size: 0.9em;
    &, table {
      width: 100%;
    }
    th, td {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
    & thead tr {
      background-color: greys(5%);
    }
    & tr:nth-child(even){
      background-color: greys(5%);
    }
    margin-bottom: 10px;
  }

  .CodeMirror {
    height: 200px;
  }

  .importer,
  .report {
    flex: 1;
    padding: 4.8rem 0 0 5rem;
    min-width: 52rem;
    width: 76%;
    max-width: 55rem;

    counter-reset: h3;

    .title {
      border-bottom: 1px solid color(primary);
      padding-bottom: 0.5rem;

      &::before {
        counter-increment: h3;
        content: counter(h3) ". ";
      }
    }


  }

  .importer .label {
    font-size: 1.1em;
  }

  .importer .title.title-select-map {
    display: flex;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .csv-description {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 5rem;
    text-align: center;
  }


  .import-button {
    display: inline-block;
    cursor: pointer;
  }

  .select-a-map-search {
    padding: 2rem 1rem;
    border: 1px solid #f0f0f0;
    position: relative;

    &::before {
      content: '';
      width:10px;
      height: 10px;
      background:red;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .import-samples {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

}

.map-selector {

  .map-selector-search {
    padding: 2rem 1rem;
    border: 1px solid #f0f0f0;
    position: relative;

    &::before {
      content: '';
      width:10px;
      height: 10px;
      background:red;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .map-selector-results {
    background:#FFF;
    border:1px solid #f0f0f0;
    margin-top: 2rem;
    margin-bottom: 2rem;

    ul {
      list-style: none;
      padding:0;
      margin:0;
      max-height: 280px;
      overflow-y: scroll;
    }

    li {
      padding: 1rem 2rem;
      display:flex;
      justify-content: space-between;
      cursor:pointer;
    }

    li:not(:last-child){
      border-bottom: 1px solid #f0f0f0;
    }

    li:hover {
      background:#f0f0f0;
    }

    li.selected {
      background: color(primary2, tint);
      color: white;
      font-weight: bold;
    }

    h4 {
      margin:0;
      padding: 2rem 2rem;
      border-bottom: 1px solid #cecece;
    }
  }

}

.report-preview {

  overflow-y: scroll;
  font-size: 0.8em;

  & table {
    position: relative;
  }

  & thead tr {
    background-color: greys(5%);
  }

  & tr:nth-child(even){
    background-color: greys(5%);
  }

}


.paste-csv-area:focus {
  height: 200px;
}

/* Codemirror */
.CodeMirror {
  border: 1px solid #ddd;
}

.CodeMirror-placeholder.CodeMirror-placeholder {
  color: greys(60%);
}
