.import-link span {
  text-decoration: underline;
}

.step-import {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .select-a-map {
    .dropdown-trigger {
      @include flow(horizontal, space-between);
      background-color: color(default);
    }
  }

  .map-preview {
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .map-dictionary-preview {
    overflow-x: auto;
    font-size: 0.9em;
    &, table {
      width: 100%;
    }
    th, td {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
    & thead tr {
      background-color: greys(5%);
    }
    & tr:nth-child(even){
      background-color: greys(5%);
    }
    margin-bottom: 10px;
  }

  .CodeMirror {
    height: 200px;
  }

  .importer,
  .report {
    flex: 1;
    padding: 3rem 0;
    min-width: 52rem;
    margin: 0 auto;
    width: 76%;
    max-width: 92rem;
  }

  .importer .label {
    font-size: 1.1em;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .csv-description {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 5rem;
    text-align: center;
  }


  .import-button {
    display: inline-block;
    cursor: pointer;
  }

  .import-samples {
    margin-top: 4rem;

    h2 {
      margin: 0 0 0.3rem;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      font-size: 1.3rem;
      cursor: pointer;
      background-color: color(variable);
      color: color(text);
      padding: 0.4rem 1rem;
      border-radius: 0.2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

    }

  }

}


.report-preview {

  overflow-y: scroll;
  font-size: 0.8em;

  & table {
    position: relative;
  }

  & thead tr {
    background-color: greys(5%);
  }

  & tr:nth-child(even){
    background-color: greys(5%);
  }

}


.paste-csv-area:focus {
  height: 200px;
}

/* Codemirror */
.CodeMirror {
  border: 1px solid #ddd;
}

.CodeMirror-placeholder.CodeMirror-placeholder {
  color: greys(60%);
}
