.layers, .edit-layer {

  .layer {
    border: none;

    .content {
      border-top: 1px solid greys(20%);
    }

    &:first-child {
      .content {
        border-top: 1px solid color(primary);
      }
    }

    .caption {
      height: 5.4rem;
      img { height: 5.4rem; }
    }

    .title {
      color: color(text);
    }

    .description {
      font-size: 0.9em;
      line-height: 1.1em;
    }

  }

  .diagram {
    margin-top: 0.5rem;
  }

  .diagram-buttons {
    .button.active {
      @extend .filled.primary;
    }
  }

  // V center slider (must be on container)
  .offset-slider .slider.slider /* ! */
  {
    top: -5px;
  }

}


.edit-layer .layer {
  background-color: color(variable);
}


// Controls adjustements

.btn-switch-group .button:not(.selected) {
  background-color: greys(30%);
}


// V center checkbox (must be on container)
.offset-checkbox {
  margin-top: 2px;
}





// Fixed Height + padding bug on firefox
input[type=text].padding-fix {
  padding: .1rem 1rem;
}


// Swatches dropdown
.layer-color-selector {

  .dropdown-trigger {
    display: flex;
    align-items: center;
    padding: 0.1rem 1rem;
    margin-left: 0 !important;
  }

  .layer-color-swatch {
    border: none;
    margin-right: .5rem;
  }

  .swatch {
    width: 15px;
    height: 13px;
  }

}


// Patterns selector
.layer-pattern-selector {
  display: flex;
  align-items: center;

  .layer-pattern-swatch {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .layer-pattern-swatch li {
    margin-right: 0.5rem;
  }

  .layer-pattern-swatch svg {
    border: 1px solid greys(30%);

    &.selected {
      border: 0.2rem solid #B29D8D;
    }
  }

}

.brewer-tabs {
  border-bottom: 1px solid black;
}


// Categories
.categories-list {

  > li {
    //height: 35px;
    display: flex;
    align-items: stretch;
    margin-bottom: 0.5rem;
  }

  .categories-controls {
    flex: 1;
    display: flex;
  }

  .categories-control {
    flex: 1;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;

    // SP
    .sp-replacer {
      display: flex !important;
      background-color: transparent !important;
    }

    &.categories-shape-control {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .dropdown li {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    // Dropdown
    .dropdown-trigger {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 2.1rem;
      }

    }
  }

  .categories-control:not(:first-child) {
    margin-left: 0.3rem;
  }

  .categories-name {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: #000;

    &.categories-surface {
      flex: 3;
    }
  }

  .toggle-visibility {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    font-size: 1.2rem;
  }

  .categories-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
  }

  .categories-progress .bar {
    background-color: #000;
  }

}
