.projection-panel {
  
  @extend %flow;
  @extend %horizontal;
  
  position: absolute;
  top:10px;
  left:10px;
  
  &.open .sticky-wrapper {
    @extend %padded;
    margin-left: -3.2rem;
  }
  
  .title {
    margin-left: 3.2rem -$gutter/2;
    margin-top: -$gutter/2;
    height:32px;

    display: flex;
    align-items: center;
    
    font-size: 1.1em;
    font-weight: bold;
    
  }
  
}
