.projection-panel {
  
  @include flow();
  
  position: absolute;
  top:0px;
  left:0px;
  
  max-height: 80%;
  
  & > .body {
    
    overflow-y: auto;
    
    .collection {
      border: none;
    }
    
  }
  
}
