.project-thumbnail-container {
  padding:0 3rem;
  h3 {
     font-weight: normal;
     font-size: 1.35rem;
     display: inline-block;
     border-bottom: 1px dotted #aaa;
     margin: 0;
   }
}

.project-thumbnail {
  position: relative;
  overflow:hidden;
  cursor:pointer;
  margin: 1rem 0 ;

  & img {
    display: block;
    width:100%;
  }

  & .project-date {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #FFF;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background: color(primary2);
    opacity: 0.5;
  }


  &:hover {

    & .project-date {
      color: #000;
    }

    &::before {
      display:none;
    }

  }

}


