.updater {
  .release-notes {
    background-color: #FAFAFA;
    border: 1px solid greys(20%);
    border-radius: 3px;
    padding: $gutter;
    padding-top: 2em;
    position: relative;
    max-height: 640px;
    overflow-y: scroll;
    .sticker {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      text-align: center;
      background: color(primary);
      color: white;
      border-top-left-radius: 3px;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }
  .markdown {
    h1 {font-size: 1.2em;}
    h2 { margin: 1.1em; }
    font-size: 0.95em;
    line-height: 1.2em;
  }
}
