& {
  
  height: 180px;
  
  .axis {
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: greys(60%);
  }
  
  .axis-label {
    font-size: 0.8em;
  }
  
  .tick text {
    fill: greys(60%);
    font-size: 0.9em;
  }
  
  .interval {
    stroke: greys(80%);
  }
  
  .bar {
    fill: color(primary);
  }
  
  .grid .grid-el line {
    stroke: white;
  }
  
}
