/*Change logo dimension from square to rectangle*/
.md-flex__cell--shrink img{
    width: 90px;
}

/*change header, footer bg color*/
.md-header,
.md-footer-meta,
.md-nav__source{
    background-color: #B29D8D;
}
@media only screen and (max-width: 76.1875em) {
    html .md-nav--primary .md-nav__title--site {
        background-color: #B29D8D;
    }
}
.md-footer-nav {
    background-color: #bdab9e;
}

.md-nav--secondary {
    border-left-color: #B29D8D;
}