{{#if (x-eq meta.type 'text')}}
<div class="icon-type filled success">T</div>
{{else if (x-eq meta.type 'numeric')}}
<div class="icon-type filled {{if isValid 'success' 'danger'}}">N</div>
{{else if (x-eq meta.type 'geo')}}
<div class="icon-type round geo {{if isValid 'text-success' 'text-danger'}}"><i class="iconfont iconfont-globe"></i></div>
{{/if}}
