& {
  
  svg {
    height: 24px;
    width: 24px;
  }
  
  div.swatch {
    height: 24px;
  }
  
  @mixin swatch-size() {
    @for $i from 1 through 8 {
      svg.shape-#{$i} {
        width: (24px) * $i;
      }
    }
  }
  
  @include swatch-size();
}
