{{#x-dropdown-plus as |dropdown|}}
  {{#dropdown.trigger}}
    {{shape-dropdown/swatch color=color shape=value}}
    <i class="iconfont iconfont-angle-down"></i>
  {{/dropdown.trigger}}
  {{#dropdown.list}}
    {{#each shapes as |shape|}}
      <li {{action 'bindValue' shape}}>
        <div class="swatch">{{shape-dropdown/swatch color=color shape=shape}}</div>
      </li>
    {{/each}}
  {{/dropdown.list}}
{{/x-dropdown-plus}}