{{#x-dropdown-plus as |dropdown|}}
  {{#dropdown.trigger class=(unless transparent 'filled') triggerPivot="bottom right" dropdownPivot="top right"}}
    {{shape-dropdown/swatch color=color shape=value margin=2}}
    <i class="iconfont iconfont-angle-down"></i>
  {{/dropdown.trigger}}
  {{#dropdown.list}}
    {{#each shapes as |shape|}}
      <li {{action 'bindValue' shape}}>
        <div class="swatch">{{shape-dropdown/swatch color=color shape=shape}}</div>
      </li>
    {{/each}}
  {{/dropdown.list}}
{{/x-dropdown-plus}}