& {
    $color: color(default);
    position: relative;
    margin-top: 1rem;
    background-color: $color;
    box-shadow: inset 0px 1px 3px -1px #C0C0C0;
    .arrow {
        $width: 1rem;
        position: absolute;
        margin-left: -$width;
        top: -1rem;
        width: 0; 
        height: 0;
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-bottom: $width solid #C6C6C6;
    }
}