& {
  
  $border: 0.2rem;
  
  display: block;
  height: 1.6rem + $border;
  
  border: $border solid greys(10%);
  
  cursor: pointer;
  
  &.selected {
    border: $border solid color(primary);
  }
  
}
