<div class="navheader">
  {{#x-button class="default btn-prev" action=(action 'back')}}
    <i class="iconfont iconfont-long-arrow-left"></i> {{t "import.qualifyData"}}
  {{/x-button}}
</div>
<div class="report">
    <h1>{{t "general.chooseMap"}}</h1>
    <div class="horizontal center flow">
      <div class="map-card" {{action 'selectMap' null}}>
        <i class="iconfont iconfont-globe"></i>
        <div class="label">
          Monde
        </div>
      </div>
    </div>

</div>