<div class="content">
  <div class="help jumbotron markdown">
    {{localized-tpl tpl="help/{locale}/graph/export"}}
  </div>
  <div>
    Page export
    {{x-button class="filled success" action=(action 'export') label="Exporter"}}
  </div>
</div>

<div class="bottom-navbar">
    <div class="fluid">
      {{#x-button class="default btn-prev" action=(action 'back')}}
          <i class="iconfont iconfont-long-arrow-left"></i> {{x-capitalize (t "navigation.sidebar.legend")}}
      {{/x-button}}
    </div>
</div>
