<div class="content">
  <div class="help jumbotron markdown">
    {{localized-tpl tpl="help/{locale}/graph/geovars"}}
  </div>
  
</div>

<div class="bottom-navbar reverse">
  <div class="solid">
    {{#x-button class="default btn-prev" action=(action 'next')}}
        {{x-capitalize (t "navigation.sidebar.layout")}} <i class="iconfont iconfont-long-arrow-right"></i>
    {{/x-button}}
  </div>
</div>
  