<div class="full outer center middle vertical flow loader-bg">
  <svg class="rotating-loader" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://web.resource.org/cc/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" version="1.0" width="160" height="160" viewBox="0 0 800 800">
    <defs id="defs4"/>
    <g id="kreisebene">
      <path d="M 700 400 A 300 300 0 1 1  100,400 A 300 300 0 1 1  700 400 z" style="fill:none;stroke:white" id="kreis"/>
    </g>
    <g id="g2294">
      <path d="M 400,400 L 400,335 L 555,245 L 400,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-rechtsoben-oben"/>
      <path d="M 400,400 L 465,400 L 555,245 L 400,400 z " style="fill:#ffffff;fill-rule:evenodd;stroke:#B29D8D;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" id="pfeil-rechtsoben-rechts"/>
      <path d="M 400,400 L 465,400 L 555,555 L 400,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-rechtsunten-rechts"/>
      <path d="M 400,400 L 400,465 L 555,555 L 400,400 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-rechtsunten-unten"/>
      <path d="M 400,400 L 400,465 L 245,555 L 400,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-linksunten-unten"/>
      <path d="M 400,400 L 335,400 L 245,555 L 400,400 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-linksunten-links"/>
      <path d="M 400,400 L 335,400 L 245,245 L 400,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-linksoben-links"/>
      <path d="M 400,400 L 400,335 L 245,245 L 400,400 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-linksoben-oben"/>
      <path d="M 400,100 L 355,355 L 400,400 L 400,100 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-oben-links"/>
      <path d="M 400,100 L 445,355 L 400,400 L 400,100 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-oben-rechts"/>
      <path d="M 700,400 L 445,355 L 400,400 L 700,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-rechts-oben"/>
      <path d="M 700,400 L 445,445 L 400,400 L 700,400 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-rechts-unten"/>
      <path d="M 400,700 L 445,445 L 400,400 L 400,700 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-unten-rechts"/>
      <path d="M 400,700 L 355,445 L 400,400 L 400,700 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-unten-links"/>
      <path d="M 100,400 L 355,445 L 400,400 L 100,400 z " style="fill:#B29D8D;stroke:#B29D8D;stroke-width:1" id="pfeil-links-unten"/>
      <path d="M 100,400 L 355,355 L 400,400 L 100,400 z " style="fill:#ffffff;stroke:#B29D8D;stroke-width:1" id="pfeil-links-oben"/>
    </g>
    <g id="rotekreisebene">
      <path d="M 424.78125,166.3125 L 429.90625,197.1875 C 463.15599,202.05328 493.80774,214.91626 519.875,233.75 L 545.09375,215.1875 C 511.23977,188.5683 469.90872,171.04733 424.78125,166.3125 z M 371.90625,166.6875 C 326.92279,172.05589 285.8137,190.13949 252.3125,217.25 L 277.78125,235.46875 C 303.59573,216.25591 334.05575,202.96065 367.1875,197.625 L 371.90625,166.6875 z M 582.75,252.3125 L 564.53125,277.78125 C 583.74409,303.59573 597.03935,334.05575 602.375,367.1875 L 633.3125,371.90625 C 627.94411,326.92279 609.86051,285.8137 582.75,252.3125 z M 215.1875,254.90625 C 188.5683,288.76023 171.04733,330.09128 166.3125,375.21875 L 197.1875,370.09375 C 202.05328,336.84401 214.91626,306.19226 233.75,280.125 L 215.1875,254.90625 z M 633.6875,424.78125 L 602.8125,429.90625 C 597.94672,463.15599 585.08374,493.80774 566.25,519.875 L 584.8125,545.09375 C 611.4317,511.23977 628.95267,469.90872 633.6875,424.78125 z M 166.6875,428.09375 C 172.05589,473.07721 190.13949,514.1863 217.25,547.6875 L 235.46875,522.21875 C 216.25591,496.40427 202.96065,465.94425 197.625,432.8125 L 166.6875,428.09375 z M 522.21875,564.53125 C 496.40427,583.74409 465.94425,597.03935 432.8125,602.375 L 428.09375,633.3125 C 473.07721,627.94411 514.1863,609.86051 547.6875,582.75 L 522.21875,564.53125 z M 280.125,566.25 L 254.90625,584.8125 C 288.76023,611.4317 330.09128,628.95267 375.21875,633.6875 L 370.09375,602.8125 C 336.84401,597.94672 306.19226,585.08374 280.125,566.25 z " style="fill:#977864;fill-opacity:1;stroke:none;stroke-opacity:1" id="kreisinnen"/>
    </g>
  </svg>
  <div class="loading-label"><small>{{t 'general.loading'}}...</small></div>
</div>